In [1]:
import csv
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pytz
from pytz import all_timezones

In [2]:
folder = "./ASEAN_2018D"
movements_2018_1 = pd.read_csv(filepath_or_buffer = folder + "/ASEAN_2018D_Jan_Mar_JobId2081527.csv", sep = ",", header = 0)
movements_2018_2 = pd.read_csv(filepath_or_buffer = folder + "/ASEAN_2018D_Apr_Jun_JobId2081525.csv", sep = ",", header = 0)
movements_2018_3 = pd.read_csv(filepath_or_buffer = folder + "/ASEAN_2018D_Jul_Sep_JobId2081528.csv", sep = ",", header = 0)
movements_2018_4 = pd.read_csv(filepath_or_buffer = folder + "/ASEAN_2018D_Oct_Dec_JobId2081529.csv", sep = ",", header = 0)
movements_2018 = pd.concat([movements_2018_1, movements_2018_2, movements_2018_3, movements_2018_4])

folder = "./ASEAN_2019D"
movements_2019_1 = pd.read_csv(filepath_or_buffer = folder + "/ASEAN_2019D_Jan_Mar_JobId2082476.csv", sep = ",", header = 0)
movements_2019_2 = pd.read_csv(filepath_or_buffer = folder + "/ASEAN_2019D_Apr_Jun_JobId2081531.csv", sep = ",", header = 0)
movements_2019_3 = pd.read_csv(filepath_or_buffer = folder + "/ASEAN_2019D_Jul_Sep_JobId2081532.csv", sep = ",", header = 0)
movements_2019_4 = pd.read_csv(filepath_or_buffer = folder + "/ASEAN_2019D_Oct_Dec_JobId2082477.csv", sep = ",", header = 0)
movements_2019 = pd.concat([movements_2019_1, movements_2019_2, movements_2019_3, movements_2019_4])

movements_all = pd.concat([movements_2018, movements_2019])

In [3]:
def dep_value(s):
    if s == 'SIN':
        return 1
    else:
        return 0
    
def arr_value(s):
    if s == 'SIN':
        return 1
    else:
        return 0

In [4]:
def dep_or_arr_time(dep, dep_time, arr_time):
    if dep == 1:
        return dep_time
    else:
        return arr_time

In [5]:
def f(s):
    return "".join(["0"]*(4-len(s))) + s

In [6]:
def utc(datetime):
    local = pytz.timezone("Asia/Singapore")
    local_dt = local.localize(datetime, is_dst=None)
    return local_dt.astimezone(pytz.utc)

In [7]:
def day_of_week(s):
    return s.weekday()

In [8]:
def requested_utc_hour(s):
    return s.hour

def requested_utc_minute(s):
    return s.minute

In [9]:
movements_Dep_SIN = movements_all.loc[movements_all['Dep Airport Code'] == 'SIN']
movements_Arr_SIN = movements_all.loc[movements_all['Arr Airport Code'] == 'SIN']
movements_SIN = pd.concat([movements_Dep_SIN, movements_Arr_SIN])

In [10]:
movements_SIN['Dep'] = 0
movements_SIN['Arr'] = 0

movements_SIN['Dep'] = movements_SIN['Dep Airport Code'].apply(dep_value)
movements_SIN['Arr'] = movements_SIN['Arr Airport Code'].apply(arr_value)

In [11]:
movements_SIN['Time_requested'] = movements_SIN[['Dep', 'Local Dep Time', 'Local Arr Time']].apply(lambda x: dep_or_arr_time(*x), axis=1)
movements_SIN = movements_SIN.drop(['Dep Airport Code', 'Arr Airport Code'], 1)

In [12]:
movements_Dep_SIN

,Dep Airport Code,Dep Airport Name,Arr Airport Code,Arr Airport Name,ICAO AL,IATA AL,Flight No,Carrier Code,Carrier Name,Dep IATA Country Name,...,General Aircraft Name,GCD (m),Frequency,Seats (Total),ASMs,ATMs,ASKs,ATKs,FlyingTime (Minutes),Time series
678011,SIN,Singapore Changi Apt,ADD,Addis Ababa,ETH,ET,639,ET,Ethiopian Airlines,Singapore,...,Boeing 787,4509,1,270,1217430,181261.8,1959390,291731.4,530,2018-03-27
678012,SIN,Singapore Changi Apt,ADD,Addis Ababa,ETH,ET,639,ET,Ethiopian Airlines,Singapore,...,Boeing 787,4509,1,270,1217430,181261.8,1959390,291731.4,530,2018-03-30
678013,SIN,Singapore Changi Apt,ADD,Addis Ababa,ETH,ET,639,ET,Ethiopian Airlines,Singapore,...,Boeing 787,4509,1,270,1217430,181261.8,1959390,291731.4,560,2018-01-03
678014,SIN,Singapore Changi Apt,ADD,Addis Ababa,ETH,ET,639,ET,Ethiopian Airlines,Singapore,...,Boeing 787,4509,1,270,1217430,181261.8,1959390,291731.4,560,2018-01-06
678015,SIN,Singapore Changi Apt,ADD,Addis Ababa,ETH,ET,639,ET,Ethiopian Airlines,Singapore,...,Boeing 787,4509,1,270,1217430,181261.8,1959390,291731.4,560,2018-01-09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
920416,SIN,Singapore Changi Apt,LOP,Praya,SLK,MI,124,MI,SilkAir,Singapore,...,Airbus A318/319/320/321,1095,1,150,164250,2409.0,264300,3876.4,170,2019-11-27
920433,SIN,Singapore Changi Apt,BWN,Bandar Seri Begawan,RBA,BI,422,BI,Royal Brunei Airlines,Singapore,...,Airbus A318/319/320/321,793,1,150,118950,12846.6,191400,20671.2,125,2019-11-17
920440,SIN,Singapore Changi Apt,FCO,Rome Fiumicino Apt,SIA,SQ,366,SQ,Singapore Airlines,Singapore,...,Airbus A350,6243,1,253,1579479,124860.0,2541891,200940.0,755,2019-10-21
920461,SIN,Singapore Changi Apt,CGK,Jakarta Soekarno-Hatta Apt,TGW,TR,270,TR,Scoot,Singapore,...,Airbus A318/319/320/321,547,1,180,98460,382.9,158400,616.0,115,2019-10-04
920470,SIN,Singapore Changi Apt,MAA,Chennai,AIC,AI,347,AI,Air India,Singapore,...,Airbus A318/319/320/321,1816,1,162,294192,0.0,473526,0.0,235,2019-12-03

In [13]:
# get a random date
movements_Dep_SIN_1d = movements_Dep_SIN.loc[movements_Dep_SIN['Time series'] == '2019-03-31']
movements_Dep_SIN_1d

,Dep Airport Code,Dep Airport Name,Arr Airport Code,Arr Airport Name,ICAO AL,IATA AL,Flight No,Carrier Code,Carrier Name,Dep IATA Country Name,...,General Aircraft Name,GCD (m),Frequency,Seats (Total),ASMs,ATMs,ASKs,ATKs,FlyingTime (Minutes),Time series
2544,SIN,Singapore Changi Apt,SYD,Sydney Kingsford Smith Apt,SIA,SQ,211,SQ,Singapore Airlines,Singapore,...,Boeing 777 Passenger,3908,1,264,1031712,101998.8,1660296,164142.9,460,2019-03-31
4399,SIN,Singapore Changi Apt,PNH,Phnom Penh,JSA,3K,591,3K,Jetstar Asia,Singapore,...,Airbus A318/319/320/321,705,1,180,126900,6556.5,204300,10555.5,135,2019-03-31
6095,SIN,Singapore Changi Apt,HKG,Hong Kong International Apt,CPA,CX,716,CX,Cathay Pacific Airways,Singapore,...,Airbus A350,1592,1,280,445760,31840.0,717360,51240.0,245,2019-03-31
6592,SIN,Singapore Changi Apt,KUA,Kuantan,TGW,TR,470,TR,Scoot,Singapore,...,Airbus A318/319/320/321,175,1,180,31500,122.5,50760,197.4,55,2019-03-31
8935,SIN,Singapore Changi Apt,TPE,Taipei Taiwan Taoyuan International Apt,EVA,BR,216,BR,EVA Airways,Singapore,...,Boeing 777 Passenger,2000,1,333,666000,32000.0,1071927,51504.0,280,2019-03-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
862256,SIN,Singapore Changi Apt,LHR,London Heathrow Apt,SIA,SQ,318,SQ,Singapore Airlines,Singapore,...,Boeing 777 Passenger,6758,1,264,1784112,176383.8,2871264,283863.6,820,2019-03-31
862733,SIN,Singapore Changi Apt,FOC,Fuzhou,SLK,MI,996,MI,SilkAir,Singapore,...,Boeing 737 Passenger,1991,1,162,322542,35439.8,519048,57031.2,270,2019-03-31
871254,SIN,Singapore Changi Apt,PEK,Beijing Capital Intl Apt,SIA,SQ,806,SQ,Singapore Airlines,Singapore,...,Boeing 777 Passenger,2788,1,264,736032,72766.8,1184568,117110.7,370,2019-03-31
875994,SIN,Singapore Changi Apt,CMB,Bandaranaike Intl,SIA,SQ,468,SQ,Singapore Airlines,Singapore,...,Airbus A330,1706,1,285,486210,27978.4,782610,45034.4,225,2019-03-31
878006,SIN,Singapore Changi Apt,LGK,Langkawi,AXM,AK,733,AK,AirAsia,Singapore,...,Airbus A318/319/320/321,452,1,180,81360,4248.8,130860,6833.8,90,2019-03-31

In [14]:
dep_airports = movements_Dep_SIN_1d['Arr Airport Code'].value_counts(dropna=False)
dep_airports = dep_airports.to_frame()
dep_airports = dep_airports.rename({'Arr Airport Code': 'Movements'}, axis = 1)
dep_airports = dep_airports.reset_index()
dep_airports = dep_airports.rename({'index': 'Airport Code'}, axis = 1)
dep_airports

    Airport Code  Movements
0            KUL         45
1            CGK         37
2            BKK         20
3            HKG         19
4            DPS         17
..           ...        ...
116          HRB          1
117          FUK          1
118          MAN          1
119          LOP          1
120          HIJ          1

[121 rows x 2 columns]

In [15]:
movements_Arr_SIN

,Dep Airport Code,Dep Airport Name,Arr Airport Code,Arr Airport Name,ICAO AL,IATA AL,Flight No,Carrier Code,Carrier Name,Dep IATA Country Name,...,General Aircraft Name,GCD (m),Frequency,Seats (Total),ASMs,ATMs,ASKs,ATKs,FlyingTime (Minutes),Time series
215,ADD,Addis Ababa,SIN,Singapore Changi Apt,ETH,ET,638,ET,Ethiopian Airlines,Ethiopia,...,Boeing 787,4509,1,270,1217430,181261.8,1959390,291731.4,580,2018-01-12
216,ADD,Addis Ababa,SIN,Singapore Changi Apt,ETH,ET,638,ET,Ethiopian Airlines,Ethiopia,...,Boeing 787,4509,1,270,1217430,181261.8,1959390,291731.4,580,2018-01-15
217,ADD,Addis Ababa,SIN,Singapore Changi Apt,ETH,ET,638,ET,Ethiopian Airlines,Ethiopia,...,Boeing 787,4509,1,311,1402299,181261.8,2256927,291731.4,580,2018-01-18
218,ADD,Addis Ababa,SIN,Singapore Changi Apt,ETH,ET,638,ET,Ethiopian Airlines,Ethiopia,...,Boeing 787,4509,1,270,1217430,181261.8,1959390,291731.4,580,2018-02-13
219,ADD,Addis Ababa,SIN,Singapore Changi Apt,ETH,ET,638,ET,Ethiopian Airlines,Ethiopia,...,Boeing 787,4509,1,270,1217430,181261.8,1959390,291731.4,580,2018-02-16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
920353,KBV,Krabi,SIN,Singapore Changi Apt,AIQ,FD,330,FD,Thai AirAsia,Thailand,...,Airbus A318/319/320/321,578,1,180,104040,5433.2,167400,8742.0,105,2019-11-28
920395,HKT,Phuket,SIN,Singapore Changi Apt,TGW,TR,653,TR,Scoot,Thailand,...,Airbus A318/319/320/321,608,1,180,109440,425.6,176040,684.6,115,2019-10-04
920404,HKG,Hong Kong International Apt,SIN,Singapore Changi Apt,CPA,CX,715,CX,Cathay Pacific Airways,Hong Kong (sar) China,...,Boeing 777 Passenger,1592,1,368,585856,32954.4,942816,53033.4,230,2019-10-10
920430,KUL,Kuala Lumpur International Airport,SIN,Singapore Changi Apt,AXM,AK,707,AK,AirAsia,Malaysia,...,Airbus A318/319/320/321,184,1,180,33120,1729.6,53280,2782.4,60,2019-11-06
920449,KUL,Kuala Lumpur International Airport,SIN,Singapore Changi Apt,AXM,AK,721,AK,AirAsia,Malaysia,...,Airbus A318/319/320/321,184,1,180,33120,1729.6,53280,2782.4,75,2019-11-06

In [16]:
# get a random date
movements_Arr_SIN_1d = movements_Arr_SIN.loc[movements_Arr_SIN['Time series'] == '2019-03-31']
movements_Arr_SIN_1d

,Dep Airport Code,Dep Airport Name,Arr Airport Code,Arr Airport Name,ICAO AL,IATA AL,Flight No,Carrier Code,Carrier Name,Dep IATA Country Name,...,General Aircraft Name,GCD (m),Frequency,Seats (Total),ASMs,ATMs,ASKs,ATKs,FlyingTime (Minutes),Time series
6269,CGK,Jakarta Soekarno-Hatta Apt,SIN,Singapore Changi Apt,SIA,SQ,951,SQ,Singapore Airlines,Indonesia,...,Boeing 777 Passenger,547,1,266,145502,9463.1,234080,15224.0,110,2019-03-31
6895,CAN,Guangzhou,SIN,Singapore Changi Apt,CSN,CZ,351,CZ,China Southern Airlines,China,...,Airbus A318/319/320/321,1644,1,188,309072,7562.4,497448,12171.6,245,2019-03-31
9736,LOP,Praya,SIN,Singapore Changi Apt,SLK,MI,123,MI,SilkAir,Indonesia,...,Airbus A318/319/320/321,1095,1,150,164250,2409.0,264300,3876.4,150,2019-03-31
10061,KUL,Kuala Lumpur International Airport,SIN,Singapore Changi Apt,AXM,AK,701,AK,AirAsia,Malaysia,...,Airbus A318/319/320/321,184,1,180,33120,1729.6,53280,2782.4,65,2019-03-31
11096,ICN,Seoul Incheon International Airport,SIN,Singapore Changi Apt,SIA,SQ,609,SQ,Singapore Airlines,Korea Republic of,...,Airbus A350,2874,1,303,870822,57480.0,1401375,92500.0,385,2019-03-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
875400,KUL,Kuala Lumpur International Airport,SIN,Singapore Changi Apt,MAS,MH,603,MH,Malaysia Airlines,Malaysia,...,Boeing 737 Passenger,184,1,160,29440,3275.2,47360,5268.8,70,2019-03-31
875709,DMK,Bangkok Don Mueang International Arpt,SIN,Singapore Changi Apt,AIQ,FD,351,FD,Thai AirAsia,Thailand,...,Airbus A318/319/320/321,896,1,180,161280,8422.4,259560,13554.8,150,2019-03-31
878285,RGN,Yangon,SIN,Singapore Changi Apt,SIA,SQ,997,SQ,Singapore Airlines,Myanmar,...,Airbus A330,1199,1,285,341715,19663.6,550050,31652.0,185,2019-03-31
878313,MAA,Chennai,SIN,Singapore Changi Apt,IGO,6E,51,6E,IndiGo,India,...,Airbus A318/319/320/321,1816,1,180,326880,17070.4,526140,27476.2,255,2019-03-31
879029,OKA,Okinawa Naha Apt,SIN,Singapore Changi Apt,JSA,3K,792,3K,Jetstar Asia,Japan,...,Airbus A318/319/320/321,2325,1,180,418500,21622.5,673560,34800.6,310,2019-03-31

In [17]:
arr_airports = movements_Arr_SIN_1d['Dep Airport Code'].value_counts(dropna=False)
arr_airports = arr_airports.to_frame()
arr_airports = arr_airports.rename({'Dep Airport Code': 'Movements'}, axis = 1)
arr_airports = arr_airports.reset_index()
arr_airports = arr_airports.rename({'index': 'Airport Code'}, axis = 1)
arr_airports

    Airport Code  Movements
0            KUL         45
1            CGK         38
2            BKK         20
3            HKG         19
4            DPS         17
..           ...        ...
119          CSX          1
120          NGO          1
121          CNX          1
122          KLO          1
123          ATQ          1

[124 rows x 2 columns]

In [18]:
# flights to and from Changi for a particular day
airports = pd.merge(dep_airports, arr_airports, on='Airport Code', how='outer', suffixes=('_dep', '_arr'))
airports['Total'] = airports[['Movements_dep', 'Movements_arr']].sum(axis=1)
airports

    Airport Code  Movements_dep  Movements_arr  Total
0            KUL           45.0           45.0   90.0
1            CGK           37.0           38.0   75.0
2            BKK           20.0           20.0   40.0
3            HKG           19.0           19.0   38.0
4            DPS           17.0           17.0   34.0
..           ...            ...            ...    ...
122          DUS            NaN            1.0    1.0
123          ADD            NaN            1.0    1.0
124          CPH            NaN            1.0    1.0
125          CBR            NaN            1.0    1.0
126          NNG            NaN            1.0    1.0

[127 rows x 4 columns]