In [1]:
import csv
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
folder = "./ASEAN_2018D"
movements_2018_1 = pd.read_csv(filepath_or_buffer = folder + "/ASEAN_2018D_Jan_Mar_JobId2081527.csv", sep = ",", header = 0)
movements_2018_2 = pd.read_csv(filepath_or_buffer = folder + "/ASEAN_2018D_Apr_Jun_JobId2081525.csv", sep = ",", header = 0)
movements_2018_3 = pd.read_csv(filepath_or_buffer = folder + "/ASEAN_2018D_Jul_Sep_JobId2081528.csv", sep = ",", header = 0)
movements_2018_4 = pd.read_csv(filepath_or_buffer = folder + "/ASEAN_2018D_Oct_Dec_JobId2081529.csv", sep = ",", header = 0)
movements_2018 = pd.concat([movements_2018_1, movements_2018_2, movements_2018_3, movements_2018_4])

In [3]:
folder = "./ASEAN_2019D"
movements_2019_1 = pd.read_csv(filepath_or_buffer = folder + "/ASEAN_2019D_Jan_Mar_JobId2082476.csv", sep = ",", header = 0)
movements_2019_2 = pd.read_csv(filepath_or_buffer = folder + "/ASEAN_2019D_Apr_Jun_JobId2081531.csv", sep = ",", header = 0)
movements_2019_3 = pd.read_csv(filepath_or_buffer = folder + "/ASEAN_2019D_Jul_Sep_JobId2081532.csv", sep = ",", header = 0)
movements_2019_4 = pd.read_csv(filepath_or_buffer = folder + "/ASEAN_2019D_Oct_Dec_JobId2082477.csv", sep = ",", header = 0)
movements_2019 = pd.concat([movements_2019_1, movements_2019_2, movements_2019_3, movements_2019_4])

In [4]:
movements_all = pd.concat([movements_2018, movements_2019])
movements_all

,Dep Airport Code,Dep Airport Name,Arr Airport Code,Arr Airport Name,ICAO AL,IATA AL,Flight No,Carrier Code,Carrier Name,Dep IATA Country Name,...,General Aircraft Name,GCD (m),Frequency,Seats (Total),ASMs,ATMs,ASKs,ATKs,FlyingTime (Minutes),Time series
0,ABU,Atambua,KOE,Kupang,WON,IW,1932,IW,Wings Air,Indonesia,...,ATR42/ATR72,113,1,70,7910,565.0,12740,910.0,45,2018-01-02
1,ABU,Atambua,KOE,Kupang,WON,IW,1932,IW,Wings Air,Indonesia,...,ATR42/ATR72,113,1,70,7910,565.0,12740,910.0,45,2018-01-22
2,ABU,Atambua,KOE,Kupang,WON,IW,1932,IW,Wings Air,Indonesia,...,ATR42/ATR72,113,1,70,7910,565.0,12740,910.0,45,2018-01-25
3,ABU,Atambua,KOE,Kupang,WON,IW,1932,IW,Wings Air,Indonesia,...,ATR42/ATR72,113,1,70,7910,565.0,12740,910.0,45,2018-01-28
4,ABU,Atambua,KOE,Kupang,WON,IW,1932,IW,Wings Air,Indonesia,...,ATR42/ATR72,113,1,70,7910,565.0,12740,910.0,45,2018-01-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
920482,BKK,Bangkok Suvarnabhumi International Apt,HKT,Phuket,TVJ,VZ,302,VZ,Thai Vietjet Air,Thailand,...,Airbus A318/319/320/321,419,1,180,75420,3938.6,121320,6335.6,90,2019-12-06
920483,MNL,Manila Ninoy Aquino International Apt,ICN,Seoul Incheon International Airport,KAL,KE,624,KE,Korean Air,Philippines,...,Boeing 777 Passenger,1620,1,338,547560,49086.0,881166,78992.1,240,2019-11-16
920484,CEB,Cebu,CRK,Angeles/Mabalacat,EZD,Z2,908,Z2,Philippines AirAsia Inc.,Philippines,...,Airbus A318/319/320/321,408,1,180,73440,1142.4,118260,1839.6,85,2019-10-25
920485,RGN,Yangon,KUL,Kuala Lumpur International Airport,MAS,MH,743,MH,Malaysia Airlines,Myanmar,...,Boeing 737 Passenger,1048,1,160,167680,18654.4,269920,30028.6,165,2019-10-03
920486,KCH,Kuching,KUL,Kuala Lumpur International Airport,AXM,AK,5205,AK,AirAsia,Malaysia,...,Airbus A318/319/320/321,602,1,180,108360,5658.8,174420,9108.6,110,2019-10-13

In [5]:
movements_Dep_SIN = movements_all.loc[movements_all['Dep Airport Code'] == 'SIN']
movements_Arr_SIN = movements_all.loc[movements_all['Arr Airport Code'] == 'SIN']
movements_SIN = pd.concat([movements_Dep_SIN,movements_Arr_SIN])
movements_SIN

,Dep Airport Code,Dep Airport Name,Arr Airport Code,Arr Airport Name,ICAO AL,IATA AL,Flight No,Carrier Code,Carrier Name,Dep IATA Country Name,...,General Aircraft Name,GCD (m),Frequency,Seats (Total),ASMs,ATMs,ASKs,ATKs,FlyingTime (Minutes),Time series
678011,SIN,Singapore Changi Apt,ADD,Addis Ababa,ETH,ET,639,ET,Ethiopian Airlines,Singapore,...,Boeing 787,4509,1,270,1217430,181261.8,1959390,291731.4,530,2018-03-27
678012,SIN,Singapore Changi Apt,ADD,Addis Ababa,ETH,ET,639,ET,Ethiopian Airlines,Singapore,...,Boeing 787,4509,1,270,1217430,181261.8,1959390,291731.4,530,2018-03-30
678013,SIN,Singapore Changi Apt,ADD,Addis Ababa,ETH,ET,639,ET,Ethiopian Airlines,Singapore,...,Boeing 787,4509,1,270,1217430,181261.8,1959390,291731.4,560,2018-01-03
678014,SIN,Singapore Changi Apt,ADD,Addis Ababa,ETH,ET,639,ET,Ethiopian Airlines,Singapore,...,Boeing 787,4509,1,270,1217430,181261.8,1959390,291731.4,560,2018-01-06
678015,SIN,Singapore Changi Apt,ADD,Addis Ababa,ETH,ET,639,ET,Ethiopian Airlines,Singapore,...,Boeing 787,4509,1,270,1217430,181261.8,1959390,291731.4,560,2018-01-09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
920353,KBV,Krabi,SIN,Singapore Changi Apt,AIQ,FD,330,FD,Thai AirAsia,Thailand,...,Airbus A318/319/320/321,578,1,180,104040,5433.2,167400,8742.0,105,2019-11-28
920395,HKT,Phuket,SIN,Singapore Changi Apt,TGW,TR,653,TR,Scoot,Thailand,...,Airbus A318/319/320/321,608,1,180,109440,425.6,176040,684.6,115,2019-10-04
920404,HKG,Hong Kong International Apt,SIN,Singapore Changi Apt,CPA,CX,715,CX,Cathay Pacific Airways,Hong Kong (sar) China,...,Boeing 777 Passenger,1592,1,368,585856,32954.4,942816,53033.4,230,2019-10-10
920430,KUL,Kuala Lumpur International Airport,SIN,Singapore Changi Apt,AXM,AK,707,AK,AirAsia,Malaysia,...,Airbus A318/319/320/321,184,1,180,33120,1729.6,53280,2782.4,60,2019-11-06
920449,KUL,Kuala Lumpur International Airport,SIN,Singapore Changi Apt,AXM,AK,721,AK,AirAsia,Malaysia,...,Airbus A318/319/320/321,184,1,180,33120,1729.6,53280,2782.4,75,2019-11-06

In [6]:
def dep_value(s):
    if s == 'SIN':
        return 1
    else:
        return 0
    
def arr_value(s):
    if s == 'SIN':
        return 1
    else:
        return 0

In [7]:
movements_SIN['Dep'] = 0
movements_SIN['Arr'] = 0

movements_SIN['Dep'] = movements_SIN['Dep Airport Code'].apply(dep_value)
movements_SIN['Arr'] = movements_SIN['Arr Airport Code'].apply(arr_value)

In [8]:
def dep_or_arr_time(dep, dep_time, arr_time):
    if dep == 1:
        return dep_time
    else:
        return arr_time

In [9]:
movements_SIN['Time_requested'] = movements_SIN[['Dep', 'Local Dep Time', 'Local Arr Time']].apply(lambda x: dep_or_arr_time(*x), axis=1)

In [10]:
movements_SIN = movements_SIN.drop(['Dep Airport Code', 'Arr Airport Code'], 1)

In [11]:
def f(s):
    return "".join(["0"]*(4-len(s))) + s

f('0')

'0000'

In [12]:
movements_SIN['Time_requested_format4'] = movements_SIN['Time_requested'].astype(str).apply(f)
movements_SIN['Time_requested_TS'] = movements_SIN['Time series'] + '-' + movements_SIN['Time_requested_format4']
movements_SIN['TS_datetime_format'] = pd.to_datetime(movements_SIN['Time_requested_TS'], format = '%Y-%m-%d-%H%M')

In [13]:
from pytz import all_timezones
import pytz

def utc(datetime):
    local = pytz.timezone("Asia/Singapore")
    local_dt = local.localize(datetime, is_dst=None)
    return local_dt.astimezone(pytz.utc)

In [14]:
movements_SIN['Time_requested_UTC'] = movements_SIN['TS_datetime_format'].apply(utc)

In [15]:
def day_of_week(s):
    return s.weekday()

In [16]:
movements_SIN['day_of_week'] = movements_SIN['Time_requested_UTC'].apply(day_of_week)
movements_SIN['Time_series_DT'] = pd.to_datetime(movements_SIN['Time_requested_UTC']).dt.date

In [17]:
# sort by date
movements_SIN.sort_values(by=['Time_series_DT'], inplace=True)
movements_SIN

,Dep Airport Name,Arr Airport Name,ICAO AL,IATA AL,Flight No,Carrier Code,Carrier Name,Dep IATA Country Name,Arr IATA Country Name,International/Domestic,...,Time series,Dep,Arr,Time_requested,Time_requested_format4,Time_requested_TS,TS_datetime_format,Time_requested_UTC,day_of_week,Time_series_DT
755557,Singapore Changi Apt,Taipei Taiwan Taoyuan International Apt,TGW,TR,898,TR,Scoot,Singapore,Chinese Taipei,International,...,2018-01-01,1,0,55,0055,2018-01-01-0055,2018-01-01 00:55:00,2017-12-31 16:55:00+00:00,6,2017-12-31
763163,Singapore Changi Apt,Zurich Airport,SIA,SQ,346,SQ,Singapore Airlines,Singapore,Switzerland,International,...,2018-01-01,1,0,130,0130,2018-01-01-0130,2018-01-01 01:30:00,2017-12-31 17:30:00+00:00,6,2017-12-31
719601,Singapore Changi Apt,Kuala Lumpur International Airport,SLK,MI,322,MI,SilkAir,Singapore,Malaysia,International,...,2018-01-01,1,0,710,0710,2018-01-01-0710,2018-01-01 07:10:00,2017-12-31 23:10:00+00:00,6,2017-12-31
189452,Bandaranaike Intl,Singapore Changi Apt,ALK,UL,306,UL,Srilankan Airlines,Sri Lanka,Singapore,International,...,2018-01-01,0,1,730,0730,2018-01-01-0730,2018-01-01 07:30:00,2017-12-31 23:30:00+00:00,6,2017-12-31
763324,Singapore Changi Apt,Manila Ninoy Aquino International Apt,JSA,3K,763,3K,Jetstar Asia,Singapore,Philippines,International,...,2018-01-01,1,0,220,0220,2018-01-01-0220,2018-01-01 02:20:00,2017-12-31 18:20:00+00:00,6,2017-12-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199059,Singapore Changi Apt,Manila Ninoy Aquino International Apt,CEB,5J,806,5J,Cebu Pacific Air,Singapore,Philippines,International,...,2019-12-31,1,0,1900,1900,2019-12-31-1900,2019-12-31 19:00:00,2019-12-31 11:00:00+00:00,1,2019-12-31
32840,Perth,Singapore Changi Apt,SIA,SQ,214,SQ,Singapore Airlines,Australia,Singapore,International,...,2019-12-31,0,1,2240,2240,2019-12-31-2240,2019-12-31 22:40:00,2019-12-31 14:40:00+00:00,1,2019-12-31
320655,Singapore Changi Apt,Hong Kong International Apt,SIA,SQ,856,SQ,Singapore Airlines,Singapore,Hong Kong (sar) China,International,...,2019-12-31,1,0,955,0955,2019-12-31-0955,2019-12-31 09:55:00,2019-12-31 01:55:00+00:00,1,2019-12-31
19140,Kuala Lumpur International Airport,Singapore Changi Apt,MXD,OD,801,OD,Malindo Airways,Malaysia,Singapore,International,...,2019-12-31,0,1,915,0915,2019-12-31-0915,2019-12-31 09:15:00,2019-12-31 01:15:00+00:00,1,2019-12-31
594465,Singapore Changi Apt,Seoul Incheon International Airport,SIA,SQ,600,SQ,Singapore Airlines,Singapore,Korea Republic of,International,...,2019-12-31,1,0,805,0805,2019-12-31-0805,2019-12-31 08:05:00,2019-12-31 00:05:00+00:00,1,2019-12-31

In [18]:
movements_SIN['Time_series_DT'].min()

datetime.date(2017, 12, 31)

In [19]:
movements_SIN['Time_series_DT'].max()

datetime.date(2019, 12, 31)

In [20]:
SIN_2018_s = movements_SIN[movements_SIN['Time_series_DT'] < pd.Timestamp(2018,10,28)]
SIN_2018_s = SIN_2018_s[SIN_2018_s['Time_series_DT'] > pd.Timestamp(2018,3,31)]

SIN_2018_w = movements_SIN[movements_SIN['Time_series_DT'] < pd.Timestamp(2019,3,31)]
SIN_2018_w = SIN_2018_w[SIN_2018_w['Time_series_DT'] > pd.Timestamp(2018,10,27)]

SIN_2019_s = movements_SIN[movements_SIN['Time_series_DT'] < pd.Timestamp(2019,10,27)]
SIN_2019_s = SIN_2019_s[SIN_2019_s['Time_series_DT'] > pd.Timestamp(2019,3,30)]

#SIN_2019_w = movements_SIN[movements_SIN['Time_series_DT'] < pd.Timestamp(2020,3,29)]
#SIN_2019_w = SIN_2019_w[SIN_2019_w['Time_series_DT'] > pd.Timestamp(2019,10,26)]

In [21]:
def requested_utc_hour(s):
    return s.hour

def requested_utc_minute(s):
    if s.minute == 0:
        return "00"
    elif s.minute == 5:
        return "05"
    else:
        return s.minute

In [22]:
# For all flights to and from SIN in 2018 & 2019
SIN_2019 = movements_SIN
SIN_2019_df = SIN_2019.copy()

SIN_2019_df['requested_utc_hour'] = SIN_2019_df['Time_requested_UTC'].apply(requested_utc_hour)
SIN_2019_df['requested_utc_minute'] = SIN_2019_df['Time_requested_UTC'].apply(requested_utc_minute)
SIN_2019_df['requested_utc'] = SIN_2019_df['requested_utc_hour'].apply(str) + SIN_2019_df['requested_utc_minute'].apply(str)
SIN_2019_df['requested_utc'] = SIN_2019_df['requested_utc'].astype(int)

In [ ]:
SIN_2019_df

In [ ]:
time_slots = []
h = 0
m = 0
while h < 2400:
    while m < 60:
        time_slots.append(h + m)
        m = m + 5
    m = 0
    h = h + 100
    #print(i)
time_slots.append(2400)
print(len(time_slots))
time_slots

In [ ]:
SIN_2019_df['Time slot'] = pd.cut(SIN_2019_df['requested_utc'], time_slots, right=False)

In [ ]:
SIN_2019_df

In [ ]:
SIN_2019_s = SIN_2019_df[SIN_2019_df['Time_series_DT'] < pd.Timestamp(2019,10,27)]
SIN_2019_s = SIN_2019_s[SIN_2019_s['Time_series_DT'] > pd.Timestamp(2019,3,30)]

In [ ]:
SIN_2019_s

In [ ]:
SIN_2019_s['Time_series_DT'].unique()[0:7]

In [ ]:
# start here
first_week = SIN_2019_s['Time_series_DT'].unique()[0:7]
date = first_week[0]
SIN_2019_s_d1 = SIN_2019_s.loc[SIN_2019_s['Time_series_DT'] == date]
SIN_2019_s_d1

In [ ]:
timeslot_movements = SIN_2019_s_d1['Time slot'].value_counts(dropna=False)
timeslot_movements = timeslot_movements.to_frame()
timeslot_movements = timeslot_movements.rename({'Time slot': 'Movements'}, axis = 1)
timeslot_movements = timeslot_movements.reset_index()
timeslot_movements

In [ ]:
# convert requested timeslot to index timeslot (eg. (0, 5] is slot 1)
start = 0
end = 5
interval = pd.Interval(left=start, right=end, closed='left')

# eg. (0, 5] -> slot 1
interval_slot_dict = {} 

for slot in range(1, 289, 1):
    interval_slot_dict[interval] = slot
    if (end % 100 == 55):
        start = interval.left + 5
        end = interval.right + 45
    elif (start % 100 == 55):
        start = interval.left + 45
        end = interval.right + 5
    else:
        start = interval.left + 5
        end = interval.right + 5
    
    interval = pd.Interval(left=start, right=end, closed='left')

In [ ]:
timeslot_movements['Slot'] = ''
for index, row in timeslot_movements.iterrows():
    row['Slot'] = interval_slot_dict.get(row['index'])
    
timeslot_movements['Slot'] = timeslot_movements.apply(lambda row: interval_slot_dict.get(row['index']), axis=1)

In [ ]:
timeslot_movements

In [ ]:
x = timeslot_movements['Slot']
y = timeslot_movements['Movements'] 

plt.figure(figsize=(10,6))
plt.bar(x, y, width=3.0) 
 
plt.xlabel('Timeslot') 
plt.ylabel('No. of movements') 

plt.title('No. of movements by timeslot in ' + str(pd.to_datetime(date))[0:10]) 

plt.show()

In [ ]:
def get_first_100_dates(SIN_2019_s):
    first_100_dates = SIN_2019_s['Time_series_DT'].unique()[0:100]
    return first_100_dates # array with 1st 100 days dates

In [ ]:
get_first_100_dates(SIN_2019_s)[0]

In [ ]:
# added
def get_first_week_dates(SIN_2019_s):
    first_week = SIN_2019_s['Time_series_DT'].unique()[0:7]
    return first_week # array with 1st week's dates

In [ ]:
get_first_week_dates(SIN_2019_s)[0]

In [ ]:
def timeslot_to_index():
    # convert requested timeslot to index timeslot (eg. (0, 5] is slot 1)
    start = 0
    end = 5
    interval = pd.Interval(left=start, right=end, closed='left')

    # eg. (0, 5] -> slot 1
    interval_slot_dict = {} 

    for slot in range(1, 289, 1):
        interval_slot_dict[interval] = slot
        if (end % 100 == 55):
            start = interval.left + 5
            end = interval.right + 45
        elif (start % 100 == 55):
            start = interval.left + 45
            end = interval.right + 5
        else:
            start = interval.left + 5
            end = interval.right + 5
    
        interval = pd.Interval(left=start, right=end, closed='left')
        
    return interval_slot_dict

In [ ]:
def get_first_week_dates(SIN_2019_s):
    first_week = SIN_2019_s['Time_series_DT'].unique()[0:7]
    return first_week # array with 1st week's dates

In [ ]:
def get_first_week_df(SIN_2019_s, date): # date = first_week[0]
    # date = first_week[0]
    SIN_2019_s_d1 = SIN_2019_s.loc[SIN_2019_s['Time_series_DT'] == date]
    return SIN_2019_s_d1 # df of a particualr day of the 1st week

In [ ]:
def mov_per_slot(SIN_2019_s_d1, interval_slot_dict):
    timeslot_movements = SIN_2019_s_d1['Time slot'].value_counts(dropna=False)
    timeslot_movements = timeslot_movements.to_frame()
    timeslot_movements = timeslot_movements.rename({'Time slot': 'Movements'}, axis = 1)
    timeslot_movements = timeslot_movements.reset_index()
    
    timeslot_movements['Slot'] = ''
    for index, row in timeslot_movements.iterrows():
        row['Slot'] = interval_slot_dict.get(row['index'])
    
    timeslot_movements['Slot'] = timeslot_movements.apply(lambda row: interval_slot_dict.get(row['index']), axis=1)
    return timeslot_movements

In [ ]:
def get_date_plot(timeslot_movements, date):
    x = timeslot_movements['Slot']
    y = timeslot_movements['Movements'] 

    plt.figure(figsize=(10,6))
    plt.bar(x, y, width=3.0) 
 
    plt.xlabel('Timeslot') 
    plt.ylabel('No. of movements') 

    plt.title('No. of movements by timeslot in ' + str(pd.to_datetime(date))[0:10]) 

    plt.show()

In [ ]:
# 1st day - 2019 summer
interval_slot_dict = timeslot_to_index()
first_week = get_first_week_dates(SIN_2019_s)
date = first_week[0]
SIN_2019_s_d1 = get_first_week_df(SIN_2019_s, date)
timeslot_movements = mov_per_slot(SIN_2019_s_d1, interval_slot_dict)
timeslot_movements

In [ ]:
get_date_plot(timeslot_movements, date)

In [ ]:
# 2nd day
interval_slot_dict = timeslot_to_index()
first_week = get_first_week_dates(SIN_2019_s)
date = first_week[1]
SIN_2019_s_d1 = get_first_week_df(SIN_2019_s, date)
timeslot_movements = mov_per_slot(SIN_2019_s_d1, interval_slot_dict)
timeslot_movements

In [ ]:
get_date_plot(timeslot_movements, date)

In [ ]:
# 3rd day
interval_slot_dict = timeslot_to_index()
first_week = get_first_week_dates(SIN_2019_s)
date = first_week[2]
SIN_2019_s_d1 = get_first_week_df(SIN_2019_s, date)
timeslot_movements = mov_per_slot(SIN_2019_s_d1, interval_slot_dict)
timeslot_movements

In [ ]:
get_date_plot(timeslot_movements, date)

In [ ]:
# 4th day
interval_slot_dict = timeslot_to_index()
first_week = get_first_week_dates(SIN_2019_s)
date = first_week[3]
SIN_2019_s_d1 = get_first_week_df(SIN_2019_s, date)
timeslot_movements = mov_per_slot(SIN_2019_s_d1, interval_slot_dict)
timeslot_movements

In [ ]:
get_date_plot(timeslot_movements, date)

In [ ]:
# 5th day
interval_slot_dict = timeslot_to_index()
first_week = get_first_week_dates(SIN_2019_s)
date = first_week[4]
SIN_2019_s_d1 = get_first_week_df(SIN_2019_s, date)
timeslot_movements = mov_per_slot(SIN_2019_s_d1, interval_slot_dict)
timeslot_movements

In [ ]:
get_date_plot(timeslot_movements, date)

In [ ]:
# 6th day
interval_slot_dict = timeslot_to_index()
first_week = get_first_week_dates(SIN_2019_s)
date = first_week[5]
SIN_2019_s_d1 = get_first_week_df(SIN_2019_s, date)
timeslot_movements = mov_per_slot(SIN_2019_s_d1, interval_slot_dict)
timeslot_movements

In [ ]:
get_date_plot(timeslot_movements, date)

In [ ]:
# 7th day
interval_slot_dict = timeslot_to_index()
first_week = get_first_week_dates(SIN_2019_s)
date = first_week[6]
SIN_2019_s_d1 = get_first_week_df(SIN_2019_s, date)
timeslot_movements = mov_per_slot(SIN_2019_s_d1, interval_slot_dict)
timeslot_movements

In [ ]:
get_date_plot(timeslot_movements, date)

In [ ]:
#SIN_2019_w = SIN_2019_df[SIN_2019_df['Time_series_DT'] < pd.Timestamp(2020,3,29)]
#SIN_2019_w = SIN_2019_w[SIN_2019_w['Time_series_DT'] > pd.Timestamp(2019,10,26)]
#SIN_2019_w

In [ ]:
SIN_2018_w = SIN_2019_df[SIN_2019_df['Time_series_DT'] < pd.Timestamp(2019,3,31)]
SIN_2018_w = SIN_2018_w[SIN_2018_w['Time_series_DT'] > pd.Timestamp(2018,10,27)]
SIN_2018_w

In [ ]:
# 1st day - 2018 winter
interval_slot_dict = timeslot_to_index()
first_week = get_first_week_dates(SIN_2018_w)
date = first_week[0]
SIN_2018_w_1d = get_first_week_df(SIN_2018_w, date)
timeslot_movements = mov_per_slot(SIN_2018_w_1d, interval_slot_dict)
timeslot_movements

In [ ]:
get_date_plot(timeslot_movements, date)

In [ ]:
# 2nd day
interval_slot_dict = timeslot_to_index()
first_week = get_first_week_dates(SIN_2018_w)
date = first_week[1]
SIN_2018_w_1d = get_first_week_df(SIN_2018_w, date)
timeslot_movements = mov_per_slot(SIN_2018_w_1d, interval_slot_dict)
timeslot_movements

In [ ]:
get_date_plot(timeslot_movements, date)

In [ ]:
# 3rd day
interval_slot_dict = timeslot_to_index()
first_week = get_first_week_dates(SIN_2018_w)
date = first_week[2]
SIN_2018_w_1d = get_first_week_df(SIN_2018_w, date)
timeslot_movements = mov_per_slot(SIN_2018_w_1d, interval_slot_dict)
timeslot_movements

In [ ]:
get_date_plot(timeslot_movements, date)

In [ ]:
# 4th day
interval_slot_dict = timeslot_to_index()
first_week = get_first_week_dates(SIN_2018_w)
date = first_week[3]
SIN_2018_w_1d = get_first_week_df(SIN_2018_w, date)
timeslot_movements = mov_per_slot(SIN_2018_w_1d, interval_slot_dict)
timeslot_movements

In [ ]:
get_date_plot(timeslot_movements, date)

In [ ]:
# 5th day
interval_slot_dict = timeslot_to_index()
first_week = get_first_week_dates(SIN_2018_w)
date = first_week[4]
SIN_2018_w_1d = get_first_week_df(SIN_2018_w, date)
timeslot_movements = mov_per_slot(SIN_2018_w_1d, interval_slot_dict)
timeslot_movements

In [ ]:
get_date_plot(timeslot_movements, date)

In [ ]:
# 6th day
interval_slot_dict = timeslot_to_index()
first_week = get_first_week_dates(SIN_2018_w)
date = first_week[5]
SIN_2018_w_1d = get_first_week_df(SIN_2018_w, date)
timeslot_movements = mov_per_slot(SIN_2018_w_1d, interval_slot_dict)
timeslot_movements

In [ ]:
get_date_plot(timeslot_movements, date)

In [ ]:
# 7th day
interval_slot_dict = timeslot_to_index()
first_week = get_first_week_dates(SIN_2018_w)
date = first_week[6]
SIN_2018_w_1d = get_first_week_df(SIN_2018_w, date)
timeslot_movements = mov_per_slot(SIN_2018_w_1d, interval_slot_dict)
timeslot_movements

In [ ]:
get_date_plot(timeslot_movements, date)